@import '../scss/variables.scss';

.header {
  max-width: 1170px;
  margin: 55px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 269px;
    height: 55px;
  }
  &__contact {
    display: flex;
    a {
      cursor: pointer;
      margin-left: 11px;
      color: $white;
      &:hover {
        color: $lightblue;
      }
    }
  }
  &__contact-icon {
    width: 24px;
    height: 24px;
  }
}

.nav {
  &__list {
    display: flex;
  }
  &__item {
    margin-left: 45px;
    &:first-of-type {
      margin-left: 0;
    }
    a {
      color: $white;
      &:hover {
        color: $lightblue;
      }
    }
  }
}