@import '../scss/variables.scss';

.hero {
  max-width: 1170px;
  margin: 154px auto 265px;
  padding-bottom: 60px;
  &__opening {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.06em;
    color: $white;
  }
  &__subtitle {
    margin-top: 24px;
    font-size: 64px;
    font-weight: 700;
    line-height: 88px;
    color: $white;
  }
  &__buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      cursor: pointer;
      width: 270px;
      height: 100px;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      background-color: $blue;
      color: $white;
      border: none;
      &:hover {
        background-color: $darkblue;
      }
    }
    ul {
      display: flex;
    }
  }
  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-right: 25px;
    border: 1px solid $white;
    border-radius: 50%;
    color: $white;
    &:last-of-type {
      margin-right: 0;
    }
    a {
      color: $white;
    }
    &:hover {
      cursor: pointer;
      border: 1px solid $lightblue;
      color: $lightblue;
    }
    &:hover a {
      color: $lightblue;
    }
  }
}