@import '../scss/variables.scss';

.reviews {
  padding: 220px 375px;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  &__image {
    width: 83px;
    height: 58px;
  }
  &__title {
    margin-top: 34px;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: $gold;
    text-align: center;
  }
  &__content {
    max-width: 785px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: $white;
    text-align: center;
  }
  &__author {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: $gold;
    letter-spacing: 0.245em;
  }
}

// Swiper

.swiper {
  width: 1170px;
  height: 343px;
}

.swiper-slide {
  padding: 0 122px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: $gold;
}

.swiper-button-disabled {
  color: $white;
  opacity: 1 !important;
}