@import '../scss/variables.scss';

.schedule {
  max-width: 1170px;
  margin: 0 auto 90px;
  display: flex;
  justify-content: space-between;
  &__text-side {
  }
  &__image-side {
    position: relative;
    width: 668px;
    height: 638px;
    display: flex;
    justify-content: space-between;
  }
}

.image-side {
  &__image {
    position: absolute;
    width: 323px;
    height: 486px;
    &:first-of-type {
      bottom: 0;
      left: 0;
    }
    &:last-of-type {
      top: 0;
      right: 0;
    }
  }
  &__rectangle {
    position: absolute;
    top: 51px;
    left: 97px;
    width: 471px;
    height: 502px;
    border: 2px solid $gold;
    z-index: -1;
  }
}

.text-side {
  &__item {
    width: 469px;
    padding: 20px 0;
    border-bottom: 1px solid $grey;
  }
  &__day {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: $black;
  }
  &__day-wrapper {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
  &__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: $black;
  }
  &__separators {
    margin: 0 12px;
    display: inline-flex;
    span {
      margin-left: 12px;
      width: 5px;
      height: 5px;
      background-color: $gold;
      border-radius: 50%;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}